<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my website</title>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div class='header'>
    <div class="dev-name">Li MingYuan</div>
    <div class="intro">Student at University of Waterloo | Candidate for Computing and Financial Management</div>
  </div>
  <div class="nav">
    <span class="nav-item">
      <a href="#pivot1">PROFILE</a>
    </span>
    <span class="nav-item">
      <a href="#pivot2">SKILLS</a>
    </span>
    <span class="nav-item">
      <a href="#pivot3">PROJECTS</a>
    </span>
    <span class="nav-item">
      <a href="#pivot4">EDUCATION</a>
    </span>
    <span class="nav-item">
      <a href="#pivot5">CONTACT ME</a>
    </span>
  </div>
  <div class="pic-container">
    <img class="pic" src='../static/pic1.jpg'>
  </div>
  <div class="quote">
    <p>
      Sie sind das Essen und wir sind die Jäger
    </p>
    <div class='pivot1' id="pivot1"></div>
  </div>
  <div class="profile">
    <p class="profile-title">ABOUT ME</p>
    <div class="profile-main">
      <div class="profile-avatar">
        <img class="avatar" src='../static/avatar.jpg'>
      </div>
      <div class="profile-intro">
        <p>
          Hi!
          I'm currently a student of Computing and Financial Management at University of Waterloo.
        </p>
        <p>
          My career goal is to be a full-stack developer and I thoroughly enjoy building applications via modern technologies. I'm a fast-learner and eager to work in real-world industry to gain more experience.
        </p>
        <p>
          Apart from career, I love travelling, reading and anything that can bring me new knowledge about this world.
        </p>
        <p>
          I am actively seeking 2021 Summer Co-op opportunities. Feel free to connect me and my email is m674li@uwaterloo.ca (Or use Contact module below).
        </p>
      </div>
    </div>
  </div>
  <div class='pivot2' id="pivot2"></div>
  <div class="skills">
    <p class="skills-title">MY SKILLS</p>
    <div class="frontend">
      <div class="frontend-square"></div>
      <div class="frontend-desc">
        <p>HTML  CSS5</p>
        <P>JavaScript /Node.js/</P>
      </div>
    </div>
    <div class="backend">
      <div class="backend-square"></div>
      <div class="backend-desc">
        <p>Python /Django, Flask/</p>
        <p>MongoDB  MySQL  TCP/IP</p>
      </div>
    </div>
    <div class="data">
      <div class="data-square"></div>
      <div class="data-desc">
        <p>NumPy  Pandas  R</p>
        <p>Data Visualization with Seaborn etc</p>
      </div>
    </div>
  </div>
  <div class='pivot3' id="pivot3"></div>
  <div class="projects">
    <p class="projects-title">PORTFORLIO</p>
    <div class="project">
      <span>Waterloo Life Forum (building...)</span>
      <p></p>
    </div>
    <div class="project">
    </div>
    <div class='pivot4' id="pivot4"></div>
  </div>
  <div class="education">
    <p class="education-title">EDUCATION</p>
    <div class="school">
      <div class="logo">
        <img src="../static/waterloo-logo-s.png" alt="">
      </div>
      <div class="school-title">
        <p class="program-name">
          Candidate for Bachelor of Computing and Financial Management, Honours, CO-OP
        </p>
        <p class="school-name">
          University of Waterloo
        </p>
        <p class="date-gpa">
          2020 - 2025 | GPA 4.0
        </p>
      </div>
    </div>
  </div>
  <div class='pivot5' id="pivot5"></div>
  <div class="contact-me">
    <p class="contact-title">CONTACT ME</p>
    <div class="form">
      <div class="name-field">
        <span>Name</span><span> *</span>
        <div class="name-container">
          <div class="first-name">
            <input type="text" placeholder="First Name">
          </div>
          <div class="last-name">
            <input type="text" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="email-field">
        <span>Email</span><span> *</span>
        <input type="text">
      </div>
      <div class="phone-field">
        <span>Phone (Optional)</span><span></span>
        <input type="text">
      </div>
      <div class="message">
        <span>Message</span><span> *</span>
        <textarea name="" id="" cols="30" rows="4"></textarea>
      </div>
      <div class="btn-container">
        <input class="button" type="submit">
      </div>
      
    </div>
    <div class="blank"></div>
  </div>
</body>
</html>